.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  height: 100vh;
  font-size: 50px;
}
.landingPage #landingPageTitle {
  display: flex;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  color: red;
  font-family: "Arial Black", "Arial Bold", sans-serif;
}
.landingPage #landingPageTitle .letter {
  color: red;
  text-shadow: 0 3px #4361ee, 0 5px #4361ee, 0 7px #4361ee;
}
.landingPage #landingPageTitle .letterOne {
  -webkit-animation: bounce 1s ease 0.1s;
          animation: bounce 1s ease 0.1s;
}
.landingPage #landingPageTitle .letterTwo {
  -webkit-animation: bounce 1s ease 0.2s;
          animation: bounce 1s ease 0.2s;
}
.landingPage #landingPageTitle .letterThree {
  -webkit-animation: bounce 1s ease 0.3s;
          animation: bounce 1s ease 0.3s;
}
.landingPage #landingPageTitle .letterFour {
  -webkit-animation: bounce 1s ease 0.4s;
          animation: bounce 1s ease 0.4s;
}
.landingPage #landingPageTitle .letterFive {
  -webkit-animation: bounce 1s ease 0.5s;
          animation: bounce 1s ease 0.5s;
}
.landingPage #landingPageTitle .letterSix {
  -webkit-animation: bounce 1s ease 0.6s;
          animation: bounce 1s ease 0.6s;
}
.landingPage #landingPageTitle .letterSeven {
  -webkit-animation: bounce 1s ease 0.7s;
          animation: bounce 1s ease 0.7s;
}
.landingPage #landingPageTitle .letterEight {
  -webkit-animation: bounce 1s ease 0.8s;
          animation: bounce 1s ease 0.8s;
}
.landingPage #landingPageTitle .letterNine {
  -webkit-animation: bounce 1s ease 0.9s;
          animation: bounce 1s ease 0.9s;
}
.landingPage #landingPageTitle .letterTen {
  -webkit-animation: bounce 1s ease 1s;
          animation: bounce 1s ease 1s;
}
.landingPage #landingPageTitle .letterEleven {
  -webkit-animation: bounce 1s ease 1.1s;
          animation: bounce 1s ease 1.1s;
}
.landingPage #landingPageTitle .letterTwelve {
  -webkit-animation: bounce 1s ease 1.2s;
          animation: bounce 1s ease 1.2s;
}
.landingPage #landingPageTitle .letterThirteen {
  -webkit-animation: bounce 1s ease 1.3s;
          animation: bounce 1s ease 1.3s;
}
.landingPage #landingPageTitle .letterFourteen {
  -webkit-animation: bounce 1s ease 1.4s;
          animation: bounce 1s ease 1.4s;
}
.landingPage #landingPageTitle .letterFifteen {
  -webkit-animation: bounce 1s ease 1.5s;
          animation: bounce 1s ease 1.5s;
}
.landingPage #landingPageTitle .letterSixteen {
  -webkit-animation: bounce 1s ease 1.6s;
          animation: bounce 1s ease 1.6s;
}
@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.landingPage #buttonText {
  color: white;
  text-decoration: none;
  font-size: 30px;
  height: 100%;
  text-shadow: 3px 3px black;
}