.CohortSection {
  grid-column: 1;
  grid-row: 1;
}
.CohortSection .cohortList {
  list-style-type: none;
  display: grid;
  gap: 3%;
  height: 80%;
}
.CohortSection .cohortList #allStudentsCohort {
  margin-top: 10%;
  border-bottom: 3px solid red;
  cursor: pointer;
}
.CohortSection .cohortList .cohortCodes {
  border-bottom: 3px solid red;
  margin-bottom: 3%;
  cursor: pointer;
}

.selected {
  border-bottom: cyan;
}