.dashboardHeader {
  text-align: center;
  background-color: black;
  font-size: 35px;
  width: 100vw;
  text-decoration: underline;
  text-shadow: 3px 3px red, -2px -2px cyan;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3%;
  margin-top: 3%;
  background-color: grey;
  width: 100vw;
}
