.dashboardHeader {
  text-align: center;
  background-color: lightcoral;
  font-size: 35px;
  width: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3%;
  margin-top: 3%;
  background-color: grey;
  width: 100vw;
}
