.student-info{
    border: 2px solid teal;
    font-family: Cambria;
    
    display: flex;
    flex-direction: row;

}
.profilepic {
    align-self: top;
}
.fullname {
    font-size: 20px;
    color: black;
    line-height: 20px;
}
.alias {
    display: flex;
    flex-direction: column;
    color: black;
}

.expandedinfo {
    display: flex;
    flex-direction: column;
    color: black;
}
.total {
    font-weight: bold;
    text-decoration: underline;
}