
.student-info{
    border: 2px solid teal;
    font-family: Cambria;
    border-spacing: 20px;
}
.AStudent{
    border-spacing: 20px;
}
.profilepic {
    align-self: top;
}
.fullname {
    font-size: 20px;
    color: black;
    line-height: 20px;
}
.alias {
    color: black;
}
.graduate {
    color: green;
    margin: auto;
    text-align: right,

}
.expandedinfo {

    color: black;
}
.total {
    font-weight: bold;
    text-decoration: underline;
}