.cohortbar{
   display: grid;
   grid-auto-flow: column;
   grid-column: 1 / span 1;
   top: 0;  
   max-height: 350px; 
   max-width: 400px;
   position: -webkit-sticky;
   position: sticky;
   text-align: left;
   border: 2px solid teal;
   
}
.cohorttext {
    text-decoration: underline;
    text-decoration-color: teal;
}