.cohortbar{
   top: 0;
   align-self: flex-start;
   height: auto;
   position: -webkit-sticky;
   position: sticky;
 
   border: 2px solid teal;
   float: left;
}
.cohorttext {
    text-decoration: underline;
    text-decoration-color: teal;
}