.green{
    color:rgb(0, 81, 128);
}

.yellow{
    color:rgb(241, 152, 19);
}

.red{
    color:red;
}

.detailContainer{
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr;
    width:70%;
    margin: auto;
}

button:hover{
    color: red;
}