.green{
    color:green;
}

.yellow{
    color:rgb(147, 147, 10);
}

.red{
    color:red;
}

.detailContainer{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
    width:90%;
    margin: auto;
}