.container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 10px 20px;
    flex-wrap: nowrap;
}

.sec {
    margin: 5px;
}


button {
    background-color: rgb(108, 21, 39);
    border: none;
    color: white;
    padding: 5px 5px;
}