.container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    gap: 10px 20px;
    flex-wrap: nowrap;
}

.sec {
    margin: 5px;
}


button {
    background-color: rgb(108, 21, 39);
    border: none;
    color: white;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
}

label {
    margin-bottom: 10px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}