#header {
    background-color: rgb(51, 117, 222);
    padding: 30px;
    margin-top: auto;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: azure;
}
