nav {
    background-color: rgb(250, 166, 208);
    height: 100px;
    text-align: center;
}

nav h1{
    font-weight: bold;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    color: black;
    margin-top:0px;
    padding: 30px;
}