
.sidebar  {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    height: auto;
    width: 260px;
    background-color: rgb(116, 16, 11);
    padding: 10px;
    color: #fff;

}

.semester {
    font-size: 18px;
    padding: 10px;
    border-bottom: solid;
}

.semester:hover {
    background-color: rgb(239, 239, 230);
    color: rgb(116, 16, 11);
    font-size: 22px;
}