.student-card {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    margin: 0px 0px 15px 0px;
}

.student-card img {
    display: inline-block;
}

.show-more-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    grid-column: 1 / 4;
    padding: 10px;
}

#codewars-div,
#scores-div,
#certs-div {
    text-align: center;
}

#pic {
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
}

#student-profile {
    padding: 40px;
    padding-top: 32px;
}

#grad-message {
    padding: 40px;
    padding-left: 0px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.yellow-text {
    color: yellow;
}

.visible {
    display: auto;
}

.invisible {
    display: none;
}