.card {

    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    font-family: Cambria;
    background-color: rgb(60, 60, 201);
}
.other {
    display: flex;
    flex-direction: column;
    color: whitesmoke
}
.pic {
    align-self: center;
}
.info {
    padding: 20px;
}
  
.name {
    font-size: 24px;
    color: whitesmoke;
    line-height: 24px;
}

