.showMoreButton {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  grid-column: 2;
  grid-row: 2;

  &:hover {
    color: purple;
  }
}

.ShowMoreSection {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  font-size: 15px;

  .scores {
    grid-column: 2;
  }

  .certifications {
    grid-column: 3;
  }

  .grades {
    color: darkcyan;
  }

  img {
    width: 10%;
  }
}
