#modalHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}

#modalDOB {
  color: orange;
}

#onTrackModal {
  text-shadow: 0 3px #4361ee, 3px 4px #4361ee;
  background-color: black;
  text-align: center;
  font-size: 30px;
}

#modalBody {
  background-color: gray;
}