.Header{
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(21, 62, 21);
    color: aliceblue;
}
   
.school-dash{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px;
    background-image: url('https://html.sammy-codes.com/images/background.jpg');
  background-size: contain;
}

img{
    height: 150px;
    width: 150px;
}

.stucard{
    border: 20px solid rgb(21, 62, 21);
    text-align: center;
    margin: 5px;
}

button{
    border-radius: 5px;
    background-color:rgb(75, 202, 75) ;
}


.green{
    color: green;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.extra-Deets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.CohortList {
    width: 100%;
    height: 125vh;
    top: 5%;
    position: -webkit-sticky;
    position: sticky;
    }

 .CohortList h2{
       
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .cohort{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
       border-bottom: 2px solid rgb(35, 81, 54);
       text-align: center;
       
    }
    
    .cohort:hover{
        color: red;
        cursor: pointer;
    }
     /* https://www.w3schools.com/csSref/sel_hover.asp */

 .commentstuff{
     
 }