
body {
  
}

header {
  padding: 1rem 0;text-align: center;background-color:cadetblue;;
}
header h1 {
  font-size: 3rem;font-weight: bold;color: #FFF;
}
main {
  width: 60%; margin: 1rem auto;display: grid;grid-template-columns: 2fr 4fr;gap: 20px;
}
main aside {
  height: 100%;padding: 1rem;display: flex;
  justify-content: space-between;
}
main aside section {
  width: 100%;
  height: 125vh;
  top: 5%;
  position: -webkit-sticky;
  position: sticky;
}
main aside h2 {
  margin: 0;font-size: 2rem;font-weight: bold;  
}
main aside ul {
  padding: 0rem; list-style: none;
}
main aside ul li {
  padding: 1rem 0;font-size: 1.2rem;font-weight: bold;border-bottom: 1px solid #666;cursor: pointer;
}
main aside ul li:hover {
  color:cadetblue;
}
main article {

}
main article ul {
  padding: 0rem; list-style: none;
}
main article ul > li {
  padding: 1rem;margin: 1rem 0;border: 1px solid cadetblue;
}
main article ul li .student-personal-data {
  display: grid;grid-template-columns: 20% 80%;
}
main article ul li .student-personal-data img {
  width: 80%;
}
main article ul li .student-personal-data div {
  padding: 1rem;
}
main article ul li .student-personal-data h4 {
  margin: 0rem 0; font-size: 1.5rem;font-weight: bold;
}
main article ul li .student-personal-data p:nth-child(1) {
  font-size: 1.0rem;font-weight: 500;
}
main article ul li .student-personal-data p:nth-child(3) {
  font-size: 1.0rem;font-weight: 500;color:cadetblue;
}
main article ul li .student-personal-data p:nth-child(3) span {
  font-size: 1.0rem;font-weight: bold;color:#333;
}

main article ul li .container {
  padding: 1rem;margin: 1rem 0;;
  display: grid !important;grid-template-columns: 1fr 1fr 1fr;border: 1px solid cadetblue;
}
main article ul li .containerul {}
main article ul li .container ul li {
  padding: 0.5rem 0;  border: none;
}
main article ul li .containerul li span {
  font-size: 1.2rem;font-weight: bold;color:cadetblue;
}
main article ul li .container h4 {
  margin: 0rem 0; font-size: 1.5rem;font-weight: bold;
}

/*CLase que aplica los estilos al elemento a aparecer*/
.show-element {
  /*duracion de la animacion, puedes variar el tiempo, entre mas grande mas tarda el efecto*/
  /* animation-duration: 2s;
  animation-fill-mode: both;
  /*le indicas que animacion quieres aplicarle, animacion hecha por ti en un keyframe*/
  /* animation-name: fadeIn;
  background-color: rgb(225, 225, 255); */
  display: block;
}

.hide-element {
  /* animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeOut; */
  display: none;
}

/*KeyFrames*/
/*La animacion hecha por ti, puedes ponerle cualquier nombre, solo es para identificarlo*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Puedes hacer mas animaciones personalizadas con todo lo que pueda hacer css*/
@keyframes otherAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animationTranslateIn {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animationTranslateOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 1;
    transform: translateX(-200px);
  }
}
