h1 {
    text-align: center;
    color: white;
    background-color: rgb(157, 126, 157);
    font-family: Georgia;
    padding: 2%;
}

.profile-photo {
    max-width: 150px;
    height: auto;
   
}

.student-app {
    display: grid;
    margin: 20px 20px;
    font-size: 18px;
    grid-template-columns: 2fr 1fr;
    color: rgb(157, 126, 157);
}



.cohort {
    width: 100%;
    height: 125vh;
    top: 5%;
    position: -webkit-sticky;
    position: sticky;
    margin: 20px 40px;
}

 

.all-students {
    color: rgb(157, 126, 157);
    font-family: Georgia;
}
.total {
    color: rgb(157, 126, 157);
    font-family: Georgia;
}

