.app-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

h1 {
    grid-column: span 2;
    text-align: center;
    background-color: rgba(50, 102, 20, 0.77);
    height: 100px;
    color: aliceblue;
    padding: 10px;
}

.sort-class {
    text-align: center;
}

.cohort {
    text-align: left;
}

img {
    float: left;
    height: 100px;
    width: 100px;
}

.student-card{
    border: 2px solid rgba(50, 102, 20, 0.77);
}

h3 {
    text-align: left;
}