.card {
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
}
img {
    width: 150px;
    height: 150px;
}
.birthday {
    display: flex;
    justify-content: baseline;
}
.left{
    float: left;
}
.right {
    float: right;
}

.green {
    color: #6B9473;
}
.show-more {
    text-decoration: underline;
}