.OneOnOneSection {
  grid-column: 1/span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100%;
}
.OneOnOneSection #OneOnOneTitle {
  color: green;
  grid-column: 1/span 2;
  text-align: center;
}
.OneOnOneSection #OneOnOneForm {
  border: 3px solid black;
  grid-column: 1;
  text-align: center;
  height: 15em;
}
.OneOnOneSection #commentList {
  height: 15em;
  overflow: auto;
}